@media (min-width: 400px) and (max-width: 400px) {
  .Content_minMaxWidth_240px_400px {
    content: 'ContentMinMaxWidth';
  }
}
@media (min-width: 200px) {
  .Content_minWidth_200px {
    content: 'ContentMinWidth';
  }
}
@media (min-width: 440px) {
  .Content_maxWidth_440px {
    content: 'ContentMaxWidth';
  }
}
